body{
    margin:0;
    font-family:Segoe UI;
    background:#ffe6f0;
    text-align:center;
    overflow-x:hidden;
}

.title{
    color:#ff4d6d;
    margin:30px;
}

/* Photo Wall */
.photo-wall{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:60px;
    padding:40px;
}

/* Photo Card */
.photo-card{
    position:relative;
    width:220px;
    background:white;
    padding:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
    transform:rotate(calc(-5deg + 10deg * var(--rand)));
    animation:swing 4s ease-in-out infinite alternate;
}

/* Swing Animation */
@keyframes swing{
    from{ transform:rotate(-5deg); }
    to{ transform:rotate(5deg); }
}

/* Rope */
.rope{
    position:absolute;
    width:2px;
    height:40px;
    background:#aaa;
    top:-40px;
    left:50%;
}

/* Pin */
.pin{
    position:absolute;
    width:15px;
    height:15px;
    background:#ff4d6d;
    border-radius:50%;
    top:-50px;
    left:calc(50% - 7px);
}

/* Photo */
.photo{
    width:100%;
    height:250px;
    object-fit:cover;
    cursor:pointer;
}

.memory-video{
    width:100%;
    height:250px;
    object-fit:cover;
    cursor:pointer;
    border-radius:5px;
}


/* Caption */
.caption{
    font-size:14px;
    margin-top:10px;
    color:#444;
}

/* Modal */
.modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.9);
    justify-content:center;
    align-items:center;
    z-index:100;
}

.modal img{
    max-width:90%;
    max-height:90%;
}

/* Music Button */
#musicBtn{
    padding:10px 20px;
    border:none;
    border-radius:30px;
    background:#ff4d6d;
    color:white;
    cursor:pointer;
}

/* Floating Hearts */
.hearts{
    position:fixed;
    width:100%;
    height:100%;
    pointer-events:none;
}

.heart{
    position:absolute;
    bottom:-20px;
    font-size:20px;
    animation:float 6s linear infinite;
}

.letter-preview{
    width:100%;
    height:250px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#fff0f5;
    font-size:20px;
    cursor:pointer;
    border:2px dashed #ff4d6d;
}

.letter-content{
    font-family: 'Brush Script MT', cursive;
    background: #fffaf0;
    padding:30px;
    max-width:600px;
    max-height:80vh;
    overflow-y:auto;
    text-align:left;
    border-radius:15px;
}

.letter-content h2{
    color:#ff4d6d;
}

.letter-content p{
    line-height:1.6;
    font-size:16px;
}


@keyframes float{
    from{ transform:translateY(0); opacity:1; }
    to{ transform:translateY(-100vh); opacity:0; }
}
