body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container */
.container {
    text-align: center;
    z-index: 10;
}

.question {
    font-size: 3rem;
    color: white;
    margin-bottom: 30px;
}

/* Buttons */
button {
    padding: 15px 35px;
    font-size: 18px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin: 10px;
    transition: 0.3s ease;
}

.yes-btn {
    background: #ff4d6d;
    color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.yes-btn:hover {
    transform: scale(1.1);
}

.no-btn {
    background: white;
    color: #ff4d6d;
    position: relative;
}

/* Floating Hearts */
.hearts {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

.heart {
    position: absolute;
    bottom: -50px;
    color: white;
    font-size: 20px;
    animation: floatUp 6s linear infinite;
}

@keyframes floatUp {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100vh);
        opacity: 0;
    }
}

.proposal-img{
    width: 250px;
    max-width: 80%;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
